@import "tailwindcss";

@theme {
  --color-primary-500: #10B981;
  --color-primary-600: #059669;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, system-ui, sans-serif;
  background-color: #0F172A;
  color: #F8FAFC;
}
